# core code examples
palmerpenguins
plotnine
shiny

# website rendering
ipykernel
jupyter
shinylive

# AI slides (07-08)
anthropic
chatlas
langchain
langchain-anthropic
langchain-openai
langgraph
openai
python-dotenv
querychat
requests
shinychat
tokenizers

# extended Shiny UI
faicons
shinywidgets

# data & visualization
pandas
plotly
seaborn
